.service{
    margin-top: 30px;
}
.service h2{
    color: var(--orange-color);
    font-size: 45px;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 20px 0;
}
.service div{
    display: flex;
    justify-content: space-between;
}
.service div p{
    margin-left: 5%;
    margin-left: 5%;
    font-size: 20px;
    color: rgb(137, 137, 137);
}
.service section div{
    display: flex;
    justify-content: space-between;
    margin:  20px 3% 10px;
}
.service-item{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    padding: 3%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all ease 0.7s;
}
.service-item:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.service-item ul{
    list-style: none;
}
.service-item ul li{
    padding-left: 40px;
    margin: 5px 0;
}
.service-item ul h4 span{
    font-size: 25px;
    padding-left: 10px;
    font-weight: 400;
}
.serviceIcon{
    color: var(--orange-color);
    font-size: 35px;
}