.team-page-content{
    padding-top: 90px;
}
.team-page h1{
    margin: 30px 0px;
    font-size: 40px;
    font-weight: 600;
    color: var(--orange-color);
    text-align: center;
}
.team-page p{
    font-size: 17px;
    text-align: center;
    color: rgb(137, 137, 137);
}
.team-page h2{
    margin: 30px 0px;
    font-size: 40px;
    font-weight: 600;
    color: var(--orange-color);
    text-align: center;
}
.teams{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.team-member{
    height: 350px;
    width: 350px;
    position: relative;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.team-member img{
    height: 100%;
    width: 100%;
}
.team-member div{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.7s;
    padding-top: 100%;
    background: rgba(8, 28, 94, 0.5);
    justify-content: center;
    text-align: center;
    align-items: center;
}
.team-member div p{
    color: var(--white-color);
}
.team-member div h2{
    color: var(--orange-color);
}
.team-member div:hover{
    opacity: 1;
    padding-top: 55%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.team-member div:hover h2 {
    color: var(--orange-color);
}

.team-member div:hover p {
    color: var(--white-color);
}
