.hire-developer {
    margin: 20px 10px; 
    display: flex;
    /* flex-direction: column;  */
    justify-content: space-between;
    align-items: center; 
}
.hire-developer-left {
    width: 50%;
}

.hire-developer-left h1 {
    font-size: 30px; 
    color: var(--orange-color);
    margin: 10px auto;
}

.hire-developer-left p {
    font-size: 15px;
    color: rgb(137, 137, 137);
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: justify;
}

.hire-developer-left h2 {
    font-size: 25px; 
    margin: 15px auto;
    color: var(--orange-color);
}

.hire-developer-left ul li {
    margin-top: 10px;
    list-style: none;
    color: rgb(137, 137, 137);
    letter-spacing: 1.5px;}

.hire-developer-right h2 {
    font-size: 25px; 
    color: var(--orange-color);
}

.option-toggle {
    font-size: 16px; 
    margin-top: 15px;
}

.option-toggle label {
    margin: 0 10px; 
}

.checkboxes {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    gap: 10px; 
}

.checkboxes label {
    flex-basis: 5%; 
    margin-top: 5px;
}

/*----------Media Query----------*/

@media (max-width: 950px){
    .hire-developer{
        flex-direction: column;
    }
    .hire-developer-left{
        flex-basis: 100%;
        width: 100%;
        order: 2;
        margin-top: 25px;
    }
}