.blog-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 90px 10px 10px 10px;
}

.blog-search {
    width: 100%;
    max-width: 250px; 
    margin-top: 35px;
    flex: 1; 
}

.blog-search input {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px;
    margin: 5px 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(100% - 20px); 
}

.blog-search ul {
    padding-left: 0; 
}

.blog-search ul li {
    list-style: none;
    margin: 10px 0;
    letter-spacing: 1.4px;
    color: rgb(137, 137, 137);
    font-size: 18px; 
    cursor: pointer;
    transition: all ease 0.7s;
}

.blog-search ul li:hover {
    color: var(--orange-color);
}

.blog-main {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin: 35px 0 0 0; 
    width: 100%;
}

.blog-main-img {
    flex: 1 1 100%; 
    overflow: hidden;
    border-radius: 10px;
}

.blog-main-img img {
    width: 100%;
    height: auto;
    transition: transform 0.7s ease;
}

.blog-main-img img:hover {
    transform: scale(1.05);
}

.blog-content {
    flex: 1 1 100%; 
    padding: 20px;
}

.blog-content h3 {
    color: rgb(137, 137, 137);
    font-size: 18px; 
    margin-top: 15px;
    letter-spacing: 1.1px;
}

.blog-content h2 {
    margin: 20px 0;
    font-size: 28px; 
    line-height: 1.2;
    cursor: pointer;
}

.blog-content p {
    color: rgb(137, 137, 137);
    letter-spacing: 1.4px;
    font-size: 16px;
}

.blog-suggestions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 20px;
    margin: 30px 0;
}

.blog-suggestion-box {
    margin: 10px 0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.7s;
}

.blog-suggestion-box img {
    width: 100%;
    height: 200px;
    transition: transform 0.7s ease;
}

.blog-suggestion-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.blog-suggestion-box img:hover {
    transform: scale(1.05);
}

.blog-suggestion-box div {
    margin: 10px;
}

.blog-suggestion-box div p {
    color: rgb(137, 137, 137);
    letter-spacing: 1.2px;
    margin: 10px 0;
    font-size: 16px; 
}
