.client-review {
    margin-top: 50px;
}

.client-review .trustworthy {
    text-align: center;
    letter-spacing: 7px;
    font-size: 20px;
}

.client-review h1 {
    font-size: 40px;
    color: var(--orange-color);
    text-align: center;
    margin: 20px 0px;
}

.client-review p {
    font-size: 18px;
    color: rgb(137, 136, 136);
    text-align: center;
    margin: 10px;
}

.review-items {
    margin: 80px auto;
    padding: 0px 80px;
    position: relative;
}

.left-btn, .right-btn {
    position: absolute;
    top: 50%;
    padding: 5px;
    height: 50px;
    width: 50px;
    transform: translateX(-50%);
    color: var(--orange-color);
    background: var(--black-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.7s;
}

.left-btn:hover, .right-btn:hover {
    background: var(--orange-color);
    color: var(--black-color);
}

.right-btn {
    left: auto;
    right: 0;
}

.left-btn {
    margin-left: -30px;
}

.left-btn.disabled, .right-btn.disabled {
    background: none;
    color: rgb(137, 137, 137);
    cursor: not-allowed;
}

.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 250%;
    overflow-x: hidden;
    transition: all ease 0.7s;
}

.slider ul li {
    list-style: none;
    width: 50%;
    padding: 20px;
}

.slide {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    color: var(--black-color);
    line-height: 1.4;
    height: 250px;
}

.slide img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid var(--orange-color);
    margin-right: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 15px;
}

@media (max-width: 1200px){
    .slider ul {
        width: 495%;
    }
}

@media (max-width: 640px){
    .client-review h1{
        font-size: 35px;
    }
    .review-items{
        padding: 0px 40px;
    }
    .right-btn, .left-btn{
        padding: 2px;
        height: 35px;
        width: 35px;
    }
    .slider ul li{
        padding: 12px;
    }
    .slide {
        padding: 10px;
    }
    .slide img{
        width: 50px;
        height: 50px;
    }
    .slider ul li {
        width: 100%;
    }
}

@media (max-width: 360px){
    .client-review h1{
        font-size: 30px;
    }
}