.forall{
    background: var(--black-color);
    width: 100%;
    height:100%;
}

.achievement {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--black-color);
    /* border-top-left-radius: 30%; */
}

.left-side-achievement {
    margin-top: 25px;
    /* width: 45%; */
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
    background-size: cover;
}

.left-side-achievement img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain; 
}   

.right-side-achievement {
    width: 50%;
    color: var(--white-color);
}

.right-top p{
    margin-bottom: 20px;
    line-height: 1.5;
}
.right-top h2 {
    color: white; 
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 35px;
}
.right-top h2 span{
    color: var(--orange-color);
}

.right-bottom ul {
    padding-top: 20px;
    padding-left: 20px; 
    list-style: none;
    line-height: 2;
}
.right-bottom div{
    font-size: 25px;
    font-weight: 500;
}
.right-bottom span{
    color: var(--orange-color);
}
.right-bottom button{
    margin-top: 20px;
}

.plus-icon{
    margin-left: 7px;
    font-size: 25px;
}

.achievement-list{
    height: fit-content;
    background: var(--black-color);
    color: var(--white-color);
    /* border-bottom-right-radius: 80%; */
}
.achievement-list h2{
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin: 60px auto;
}
.lists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.list p{
    margin-bottom: 50px;
}
.list h1 span{
    color: var(--orange-color);
}

/*----------Media Query----------*/

@media (max-width: 940px){
    .left-side-achievement img{
        height: 350px;
    }
    .right-top h2{
        margin-bottom: 15px;
        margin-top: 15px;
        font-weight: 500;
        font-size: 25px;
    }
    .list p{
       text-align: center;
       width: 90%;
    }
}
@media (max-width: 840px) {
    .achievement{
        flex-direction: column;
    }
    .left-side-achievement{
        flex-basis: 100%;
    }
    .right-side-achievement{
        flex-basis: 100%;
        order: 2;
        width: 75%;
    }
    .achievement-list h2{
        font-size: 45px;
    }
}
@media (max-width: 520px) {
    .right-top h2{
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: 500;
        font-size: 20px;
    }
    .right-bottom div{
        font-size: 20px;
        font-weight: 500;
    }
    .right-bottom ul{
        padding-top: 10px;
        padding-left: 10px; 
        list-style: none;
        line-height: 2;
    }
    .achievement-list h2{
        font-size: 40px;
    }
    .lists {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .list {
        width: 48%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
}